#footer {
    background-color: #1b1c1e;
  }
  #footer {
    color: #97989b;
  }
  #footer a {
    color: #97989b;
  }
  #footer a:hover, #footer a:focus {
    color: #ee4266;
  }
  .footer-widget {
    margin-bottom: 30px;
  }
  .footer-widget .footer-title {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
  }
  .footer-logo {
    margin-bottom: 30px;
  }
  .footer-logo .logo {
    display: inline-block;
    line-height: 70px;
    height: 70px;
  }