<div class="article-actions" *ngIf="currentArticle|async">
    <div class="article-meta d-flex justify-content-between">
        <app-article-header [article]="currentArticle|async"></app-article-header>
        <div class="follow">
            <app-button-follow [userProfile]="clickedProfile|async" *ngIf="!isOwner"></app-button-follow>
            
        </div>
        <div *ngIf="isOwner" class="update-delete">
            <a  class="btn btn-sm btn-outline-secondary" 
            [routerLink]="['/edit', currentArticle.getValue().slug]"><i class="fas fa-pen"></i>
            &nbsp;Edit Article</a> &nbsp;&nbsp;
            
            <button class="btn btn-sm btn-outline-danger"  (click)="deleteArticle()">
                <i class="fas fa-trash-alt"></i>&nbsp;Delete</button>
        </div>
    </div>
    
    
    
</div>
