<div class="setting container-fluid">
    <div class="main ">
        <form [formGroup]="passwordForm">
            <div class="form-group">
                <label><b>Current Password </b></label>
                <input class="form-control" type="password" 
                placeholder="Current Password" formControlName="password">
                <div *ngIf="password?.invalid && (password?.dirty|| password?.touched)"
                    class="error-messages text-danger ml-5 mt-2">
                    <p *ngIf="password?.hasError('required')">
                        Your password is required</p>
                    <p *ngIf="password?.hasError('wrongpassword')">
                        Your password is incorrect</p>
                </div>
            </div>
            
            <div class="form-group">
                <label><b>New Password </b></label>
                <input class="form-control" type="password" 
                placeholder="New Password" formControlName="newpassword">
                <div *ngIf="newpassword?.invalid && (newpassword?.dirty|| newpassword?.touched)"
                    class="error-messages text-danger ml-5 mt-2">
                    <p *ngIf="newpassword?.hasError('required')">
                        New password is required</p>
                    <p *ngIf="newpassword?.hasError('minlength')">
                        Password is too short (6 characters)</p>
                </div>
            </div>
            <div class="form-group">
                <label><b>Confirm Password</b></label>
                <input class="form-control" type="password" 
                placeholder="Confirm Password" formControlName="confirmPassword">
                <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty||confirmPassword?.touched)"
                 class="error-messages text-danger ml-5 mt-2">
                 <p *ngIf="confirmPassword?.hasError('required')">
                    Confirm password is required</p>
                    <p *ngIf="confirmPassword?.hasError('minlength')">
                        Password is too short (6 characters)</p>
                    <p *ngIf="confirmPassword?.errors?.confirmPasswordValidator">Password doesn't match</p>
                </div>
            </div>
            <button class="btn solid" [disabled]="!passwordForm.valid" 
            (click)="updateUser()">
                Update Password
            </button>
       
        </form>

    </div>

       
</div>
