label{
    font-size: 1.2rem;
}
form{
    width: 60%;
    margin: 20px auto;
    box-shadow: 2px 2px 30px -15px rgba(0,0,0,0.5);
    padding: 10px 20px 20px;
    background-color: white;
}
.btn {
    width: 200px;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .btn:hover {
    background-color: #4d84e2;
  }
  
  .btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
  }